<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="manifest" href="/components/manifest.json">
        <link href="/components/index.css" rel="stylesheet">
        <script src="/components/index.js" type="module" defer></script>
        <title>ORUI</title>
    </head>
</head>
<body>
<div id="root"></div>
<script type="module" src="./demo.js"></script>
</body>
</html>
